@font-face {
  font-family: "Acumin Variable Concept";
  src: url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot");
  src: url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/066ce24dae3730ed6c648b09efaea93a.svg#Acumin Variable Concept")
      format("svg");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Acumin Variable Concept", serif;
}
body {
  position: relative;
}

.home-header {
  width: 100%;
  background-size: contain;
  border-color: brown;
  margin-bottom: -60px;
}
.home-header img {
  width: 100%;
}

aside {
  position: fixed;
  left: 100px;
  top: 40vh;
  text-transform: uppercase;
}
aside nav ul {
  list-style-type: none;
}
aside nav ul li {
  margin-bottom: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: black;
}

nav ul li a.active {
  font-weight: 700;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.home-main {
  height: 75vh;
  background: url("../img/main-bg.jpg") center no-repeat;
  background-size: contain;
}

.wrapper {
  height: 100vh;
  width: 130vh;
  margin: 0 auto;
  /* background-color: #cccccc; */
}

.page-header {
  height: 100px;
  margin: 30px auto 0;
}

.page-header img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.page-main {
  width: 60vw;
  margin: 150px auto 0;
}

.about__img {
  width: 200px;
  height: auto;
}

.about__content {
  display: flex;
  align-items: center;
}

.about__text {
  /* max-width: 50%; */
  margin-left: 50px;
}

.art__content {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  width: 200px;
}

.year-block {
  margin-right: 50px;
}

.detail__content {
  margin-top: -40px;
  display: flex;
}

.detail__img {
  height: 60vh;
}

.description {
  margin-left: 30px;
}

.description h2,
.description h3,
.description h4,
.description p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.description h2 {
  font-size: 18px;
}

.description h3 {
  font-size: 14px;
}
